table {
    width: 75%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: black;
    font-family: Roboto, sans-serif;
    color: #cccccc;
    border-radius: 4px;
    animation: fadeIn 1s ease-in-out;
    margin: auto;
  }
  table th,
  table td {
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: left;
    transition: all 0.2s ease-in-out;
    color: #777;
  }
  
  
  table th {
    background-color: #25252b;
    font-weight: 600;
    color: #cccccc;
    animation: 1s ease-in-out;
    cursor: pointer;
  }
  
  
  .table-image-small {
    width: 50px;
    height: auto;
    border-radius: 50%;
  }
  
  .price-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .button-group {
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }
  
  .save-button,
  .reset-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    animation: slide 1s ease-in-out;
    cursor: pointer;
  }
  
  .reset-button {
    background-color: #f44336;
  }
  
  .loading {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
  }
  
  .table-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  
  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: 10px;
    }
  }
  
  .table-header {
    background-color: #ffffff;
    border-bottom: 2px solid #000;
  }
  
  .table-body {
    padding-top: 20px;
  }
  
  .table-body tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  
  table tr:hover {
    background-color: #25252b;
    color: #fff;
  }
  table tr:hover td {
    color: #fff;
  }
